<footer th:fragment="footer">
    <div class="container-fluid navbar-dark bg-dark text-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/img/kshrd.png" style="width: 100px;padding: 10px;">
                    <p th:utext="#{hrdIntro}"></p>
                    <a href="http://www.kshrd.com.kh">http://www.kshrd.com.kh</a>
                </div>
                <div class="col" style="padding-left: 20%">
                    <img src="/img/user.png" alt="me" style="width: 100px;padding: 10px;">
                    <p th:utext="#{aboutMe}"></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous" th:fragment="script"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>