<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand mr-auto" href="/article">
            <img src="/img/logo.png" alt="logo" style="width:130px">
            <span style="font-size: 25px" class="text-secondary" th:text="#{main_title}">
            </span>
        </a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" ​ th:text="#{lang}">Language
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="?lang=kh" th:text="#{kh}"></a>
                <a class="dropdown-item" href="?lang=en" th:text="#{en}"></a>
            </div>
        </div>
    </div>
</nav>