<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                layout:decorator="layouts/default_layout">

<head>
    <title>Add</title>
</head>

<body>
   

    <!-- BODY -->
    <div class="content" style="width:100%;padding: 0;margin: auto;" layout:fragment="content">
    <h3 style="padding-top: 1em; text-align: center;" th:text="${formAdd}? #{addForm}:#{updateForm}"></h3>
    <div class="container">
        <form style="padding: 1em 15em" th:action="${formAdd}? '/add':'/update'" method="POST" enctype="multipart/form-data">
            <div class="form-group" style="display: none">
                <label for="formGroupExampleInput" th:text="#{id}"></label>
                <input type="text" class="form-control" th:field="${article.id}"/>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2" th:text="#{title}"></label>
                <input type="text" class="form-control" th:placeholder="#{title}" th:field="${article.name}">
                <span th:if="${#fields.hasErrors('article.name')}" style="color:red" th:text="#{valTitle}"></span>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2" th:text="#{author}"></label>
                <input type="text" class="form-control" th:placeholder="#{author}" th:field="${article.author}">
                <span th:if="${#fields.hasErrors('article.author')}" style="color:red" th:text="#{valAuthor}"></span>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2" th:text="#{description}"></label>
                <input type="text" class="form-control" th:placeholder="#{description}" th:field="${article.description}">
                <span th:if="${#fields.hasErrors('article.description')}" style="color:red" th:text="#{valDescription}"></span>
            </div>

            <div class="form-group">
                <label for="formGroupExampleInput2" th:text="#{category}"></label>
                <select th:field="${article.category.id}">
                    <option th:each="cate : ${categories}" 
                    th:value="${cate.id}" 
                    th:text="${cate.name}">
                    </option>
                </select>
            </div>
            <input type="hidden" th:field="${article.thumnailURL}">
            <input type="file" name="file" accept="image/*"><br>
            <input type="submit" th:value="${formAdd}? #{save} :#{update}" class="btn btn-outline-success" style="width: 10em;margin-top:20px;">
        </form>
    </div>
</div>
</body>

</html>