<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" 
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                layout:decorator="layouts/default_layout">

<head>
    <title>Article</title>
</head>

<body>
    <!-- Body -->
    <div class="content" style="width:100%;padding: 0;margin: auto;" layout:fragment="content">
        <ul class="nav">
            <li class="nav-item mr-auto">
                <span class="nav-link disabled" style="font-size:30px" th:text="#{articlelist}"></span>
            </li>
            <li class="nav-item">
                <a id="addCategory" th:text="#{category}" href="/category" class="btn btn-outline-primary" role="button" style="margin: 10px 20px">Category</a>
                <a id="btnAdd" href="/add" th:text="#{add}" class="btn btn-outline-primary" role="button" style="margin: 10px 20px">Add New Article</a>
            </li>
        </ul>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{id}">ID</th>
                    <th scope="col" th:text="#{title}">TITLE</th>
                    <th scope="col" th:text="#{author}">AUTHOR</th>
                    <th scope="col" th:text="#{description}">DESCRIPTION</th>
                    <th scope="col" th:text="#{date}">DATE</th>
                    <th scope="col" th:text="#{picture}">PICTURE</th>
                    <th scope="col" th:text="#{category}">category</th>
                    <th scope="col" th:text="#{action}">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="article:${articles}" th:object="${article}">
                    <td th:text="*{id}">ID</td>
                    <td th:text="*{name}">Title</td>
                    <td th:text="*{author}">Author</td>
                    <td th:text="*{description}">DESCRIPTION</td>
                    <td th:text="*{date}">Date</td>
                    <td>
                        <img th:src="*{thumnailURL}" alt="No image found" style="width:80px; height:100px"/>
                    </td>
                    <td th:text="*{category.name}">category</td>
                    <td>
                        <a style="font-size:30px;text-decoration: none" th:href="@{/update/{id}(id=*{id})}" class="material-icons text-secondary fa">&#xe3c9;</a>
                        <a th:href="@{/view/{id}(id=*{id})}" style="font-size:30px;text-decoration: none" class="material-icons text-success fa">&#xe8a0;</a>
                        <a style="font-size:30px;text-decoration: none" th:href="@{/delete/{id}(id=*{id})}" class="material-icons text-danger fa">&#xe92b;</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>