<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1"/>
<title>Article</title>
<style>
    table,tr,th,td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    img{
        text-align: center;
        height: 100%;
        width:100px;
    }
</style>
</head>
<body>
    <h1 th:text="#{main_title}">Article</h1>
    <h2><a href="/add" th:text="#{add}">Add</a></h2>
    <table>
        <tr>
            <th th:text="#{id}">ID</th>
            <th th:text="#{title}">Title</th>
            <th th:text="#{author}">Author</th>
            <th th:text="#{date}">Date</th>
            <th th:text="#{picture}">Picture</th>
            <th th:text="#{action}">Action</th>
        </tr>
        <tr th:each="article:${articles}" th:object="${article}">
            <td th:text="*{id}">ID</td>
            <td th:text="*{name}">Title</td>
            <td th:text="*{author}">Author</td>
            <td th:text="*{date}">Date</td>
            <td><img th:src="*{thumnailURL}" alt="No image found"></td>
            <td><a th:href="@{/delete/{id}(id=*{id})}" th:text="#{delete}"></a>
                <a th:href="@{/update/{id}(id=*{id})}" th:text="#{update}">Update</a>
                <a th:href="@{/view/{id}(id=*{id})}" th:text="#{view}">View</a>
            </td>
        </tr>
    </table>
</body>
</html>