<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default_layout">

<head>
    <title>Category</title>
</head>

<body>
    <!-- BODY -->
    <div class="content" style="width:100%;padding: 0;margin: auto;" layout:fragment="content">
        <h3 style="padding-top: 1em; text-align: center;"></h3>
        <div class="container">
            <form style="padding: 1em 15em" th:action="${formAdd}? '/addCategory':'/updateCategory'" method="POST">
                <div class="form-group" style="display: none">
                    <label for="formGroupExampleInput"></label>
                    <input type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="formGroupExampleInput2"></label>
                    <input type="hidden" th:field="${category.id}" value="0">
                    <input type="text" class="form-control" th:placeholder="#{category}" th:field="${category.name}">
                    <span th:if="${#fields.hasErrors('category.name')}" style="color:red" th:text="#{valCategory}"></span>
                </div>
                <input type="submit" th:value="${formAdd}? #{save}:#{update} " class="btn btn-outline-success" style="width: 10em;margin-top:20px;">
                <input type="submit" href="/category" th:unless="${formAdd}" th:value="#{cancel}" class="btn btn-outline-success" style="width: 10em;margin-top:20px;">
            </form>

            <div style="padding: 1em 15em">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" th:text="#{id}">ID</th>
                            <th scope="col" th:text="#{category}">CATEGORY NAME</th>
                            <th scope="col" th:text="#{action}">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cate:${allCate}" th:object="${cate}">
                            <td th:text="*{id}">ID</td>
                            <td th:text="*{name}">Category Name</td>
                            <td>
                                <a th:href="@{/updateCategory/{id}(id=*{id})}" style="font-size:30px;text-decoration: none" class="material-icons text-secondary fa">&#xe3c9;</a>
                                <a th:href="@{/deleteCategory/{id}(id=*{id})}" style="font-size:30px;text-decoration: none" class="material-icons text-danger fa">&#xe92b;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>