<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default_layout">

<head>
    <title>View</title>
</head>

<body>

    <div class="content" style="width:100%;padding: 0;margin: auto;" layout:fragment="content">

        <h1 style="text-align:center" th:text="#{detail}"></h1>
        <div class="card-group" style="padding: 10px 35%;">
            <div class="card">
                <img class="card-img-top" th:src="${article.thumnailURL}" alt="Card image cap">

                <div class="card-body" style="text-align:center;">
                    <span class="card-text" th:text="#{id}"></span>
                    <span> : </span>
                    <span th:text="${article.id}"></span>
                    <br>

                    <span class="card-title" th:text="#{title}"></span>
                    <span> : </span>
                    <span th:text="${article.name}"></span>
                    <br>

                    <span class="card-text" th:text="#{author}"></span>
                    <span> : </span>
                    <span th:text="${article.author}"></span>
                    <br>

                    <span class="card-text" th:text="#{description}"></span>
                    <span> : </span>
                    <span th:text="${article.description}"></span>
                    <br>

                    <span class="card-text" th:text="#{date}"></span>
                    <span> : </span>
                    <span th:text="${article.date}"></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>